# Logestic Regression

Logistic regression is a popular classification algorithm in machine learning used for binary classification problems, where the goal is to predict a binary outcome based on a set of input variables using a logistic function.

### import Libraries

In [3]:
import pandas as pd

### DATA

In [5]:
df = pd.read_csv("preprocessed_dataset.csv")

In [6]:
df

,Unnamed: 0,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,Class,Orbit_ES-L1,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,6104.959412,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,525.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,677.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,500.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,3170.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,15400.000000,2,1,1,1,5.0,2,1,0,...,0,0,0,0,0,0,0,0,1,0
86,86,15400.000000,3,1,1,1,5.0,2,1,0,...,0,0,0,0,0,0,1,0,0,0
87,87,15400.000000,6,1,1,1,5.0,5,1,0,...,0,0,0,1,0,0,0,0,0,0
88,88,15400.000000,3,1,1,1,5.0,2,1,0,...,0,0,0,0,0,0,0,0,1,0
89,89,3681.000000,1,1,0,1,5.0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 89 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           90 non-null     int64
 1   PayloadMass                          90 non-null     float64
 2   Flights                              90 non-null     int64
 3   GridFins                             90 non-null     int64
 4   Reused                               90 non-null     int64
 5   Legs                                 90 non-null     int64
 6   Block                                90 non-null     float64
 7   ReusedCount                          90 non-null     int64
 8   Class                                90 non-null     int64
 9   Orbit_ES-L1                          90 non-null     int64
 10  Orbit_GEO                            90 non-null     int64
 11  Orbit_GTO                            90 non-null     int64
 12  Orbit_HEO                            90 non-null     int64
 13  Orbit_ISS                            90 non-null     int64
 14  Orbit_LEO                            90 non-null     int64
 15  Orbit_MEO                            90 non-null     int64
 16  Orbit_PO                             90 non-null     int64
 17  Orbit_SO                             90 non-null     int64
 18  Orbit_SSO                            90 non-null     int64
 19  Orbit_VLEO                           90 non-null     int64
 20  LaunchSite_CCAFS SLC 40              90 non-null     int64
 21  LaunchSite_KSC LC 39A                90 non-null     int64
 22  LaunchSite_VAFB SLC 4E               90 non-null     int64
 23  Outcome_False ASDS                   90 non-null     int64
 24  Outcome_False Ocean                  90 non-null     int64
 25  Outcome_False RTLS                   90 non-null     int64
 26  Outcome_None ASDS                    90 non-null     int64
 27  Outcome_None None                    90 non-null     int64
 28  Outcome_True ASDS                    90 non-null     int64
 29  Outcome_True Ocean                   90 non-null     int64
 30  Outcome_True RTLS                    90 non-null     int64
 31  LandingPad_5e9e3032383ecb267a34e7c7  90 non-null     int64
 32  LandingPad_5e9e3032383ecb554034e7c9  90 non-null     int64
 33  LandingPad_5e9e3032383ecb6bb234e7ca  90 non-null     int64
 34  LandingPad_5e9e3032383ecb761634e7cb  90 non-null     int64
 35  LandingPad_5e9e3033383ecbb9e534e7cc  90 non-null     int64
 36  Serial_B0003                         90 non-null     int64
 37  Serial_B0005                         90 non-null     int64
 38  Serial_B0007                         90 non-null     int64
 39  Serial_B1003                         90 non-null     int64
 40  Serial_B1004                         90 non-null     int64
 41  Serial_B1005                         90 non-null     int64
 42  Serial_B1006                         90 non-null     int64
 43  Serial_B1007                         90 non-null     int64
 44  Serial_B1008                         90 non-null     int64
 45  Serial_B1010                         90 non-null     int64
 46  Serial_B1011                         90 non-null     int64
 47  Serial_B1012                         90 non-null     int64
 48  Serial_B1013                         90 non-null     int64
 49  Serial_B1015                         90 non-null     int64
 50  Serial_B1016                         90 non-null     int64
 51  Serial_B1017                         90 non-null     int64
 52  Serial_B1018                         90 non-null     int64
 53  Serial_B1019                         90 non-null     int64
 54  Serial_B1020                         90 non-null     int64
 55  Serial_B1021                         90 non-null     int64
 56  Serial_B1022                         90 non-null     int64
 57  Serial_B1023                         90 non-null     int64
 58  Serial_B1025                         90 non-null     int64
 59  Serial_B1026                         90 non-null     int64
 60  Serial_B1028                         90 non-null     int64
 61  Serial_B1029                         90 non-null     int64
 62  Serial_B1030                         90 non-null     int64
 63  Serial_B1031                         90 non-null     int64
 64  Serial_B1032                         90 non-null     int64
 65  Serial_B1034                         90 non-null     int64
 66  Serial_B1035                         90 non-null     int64
 67  Serial_B1036                         90 non-null     int64
 68  Serial_B1037                         90 non-null     int64
 69  Serial_B1038                         90 non-null     int64
 70  Serial_B1039                         90 non-null     int64
 71  Serial_B1040                         90 non-null     int64
 72  Serial_B1041                         90 non-null     int64
 73  Serial_B1042                         90 non-null     int64
 74  Serial_B1043                         90 non-null     int64
 75  Serial_B1044                         90 non-null     int64
 76  Serial_B1045                         90 non-null     int64
 77  Serial_B1046                         90 non-null     int64
 78  Serial_B1047                         90 non-null     int64
 79  Serial_B1048                         90 non-null     int64
 80  Serial_B1049                         90 non-null     int64
 81  Serial_B1050                         90 non-null     int64
 82  Serial_B1051                         90 non-null     int64
 83  Serial_B1054                         90 non-null     int64
 84  Serial_B1056                         90 non-null     int64
 85  Serial_B1058                         90 non-null     int64
 86  Serial_B1059                         90 non-null     int64
 87  Serial_B1060                         90 non-null     int64
 88  Serial_B1062                         90 non-null     int64
dtypes: float64(2), int64(87)
memory usage: 62.7 KB

In [8]:
df.head(5)

,Unnamed: 0,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,Class,Orbit_ES-L1,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,6104.959412,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,525.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,677.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,500.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,3170.000000,1,0,0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Bulding Logestic Regression Model

### Define x and y

In [9]:
x=df.drop("Class",axis=1)
y=df["Class"]

### Train Test Split

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=101)

### Training

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
logmodel = LogisticRegression()

In [17]:
logmodel.fit(x_train,y_train)

LogisticRegression()

### predicting

In [18]:
predictions = logmodel.predict(x_test)

In [19]:
predictions

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [20]:
y_test

50    0
6     1
51    0
54    1
53    1
69    1
32    1
31    1
21    1
88    1
43    1
47    0
3     0
1     0
74    0
16    1
45    0
25    1
Name: Class, dtype: int64

## Evaluation

### confusion matrix

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
confusion_matrix(y_test , predictions)

array([[ 7,  0],
       [ 1, 10]], dtype=int64)

### accuracy score

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(y_test , predictions , normalize = False)

17

In [28]:
accuracy_score(y_test , predictions , normalize =True)

0.9444444444444444

### classification report

In [29]:
from sklearn.metrics import classification_report

In [31]:
print(classification_report(y_test , predictions))

              precision    recall  f1-score   support

           0       0.88      1.00      0.93         7
           1       1.00      0.91      0.95        11

    accuracy                           0.94        18
   macro avg       0.94      0.95      0.94        18
weighted avg       0.95      0.94      0.94        18